version 6.1.3
source https://api.nuget.org/v3/index.json

storage: none
framework: netstandard2.0

nuget Fable.Core
nuget Fable.Browser.Dom
nuget Fable.Elmish
nuget Fable.Elmish.Browser
nuget Fable.Elmish.HMR
nuget Fable.Elmish.React
nuget Fable.FontAwesome
nuget Fable.FontAwesome.Free
nuget Fable.Form
nuget Fable.Form.Simple
nuget Fable.Form.Simple.Bulma
nuget Fable.Promise
nuget Feliz
nuget Feliz.Bulma
nuget Feliz.UseElmish