@charset "utf-8";

$primary: #176663;
$success: #66bd77;
$warning: #ffa17a;
$info: #6672b4;
$danger: #b3507a;

$body-size: 15px;

@import "~bulma";

input[type="checkbox"],
input[type="radio"] {
    margin-right: 0.5em;
}

.navbar-item.title.is-4 {
    margin-bottom: 0;
}

html {
    &.has-navbar-fixed-top {
        padding-top: 0;

        body {
            padding-top: 0;
            margin-top: $navbar-height;
        }
    }
}
